/* This file is for your main application css. */
@import "../node_modules/nprogress/nprogress.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  a {
    @apply text-blue-400 hover:underline
  }

  .btn {
    @apply font-semibold rounded-full p-2 inline-block text-center hover:no-underline text-white focus:outline-none
  }

  .checkbox-group {
    @apply block my-4 pl-2
  }

  .input-group {
    @apply block my-4 relative
  }

  .input-group label {
    @apply absolute left-3 -top-2 bg-th-bgc-main px-1 text-xs text-grey-400
  }

  .input-group input {
    @apply p-3 bg-th-bgc-main filter-none border border-grey-400 rounded-md
  }

  .input-group input:focus + label {
    @apply text-blue-400
  }

  .input-group.invalid input {
    @apply border-red-400 outline-none
  }

  .input-group.invalid label {
    @apply text-red-400
  }

  .input-group input:focus {
    @apply border-blue-400
  }

  .input-group .invalid-feedback {
    @apply bg-th-bgc-main mx-3 text-xs text-red-400
  }
}

:root {
  --bgc-main: #0D1A26;
  --text-primary: white;
  --green-1: #5D9A0F;
  --green-2: #29771C;

  --bgc-insulin-header: #3857C4;
}

[x-cloak] {
  display: none;
}

iframe {
  height: 0;
}
