/* This file is for your main application css. */
@import "../node_modules/nprogress/nprogress.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply font-semibold rounded-full p-2 inline-block text-center hover:no-underline text-white focus:outline-none
  }

  .checkbox-group {
    @apply block my-4 pl-2
  }

  .input-group {
    @apply block my-4 relative
  }

  .input-group label {
    @apply absolute left-3 -top-2 bg-th-bgc-main px-1 text-xs text-grey-400
  }

  .input-group input {
    @apply p-3 bg-th-bgc-main filter-none border border-grey-400 rounded-md
  }

  .input-group input:focus + label {
    @apply text-blue-400
  }

  .input-group.invalid input {
    @apply border-red-400 outline-none
  }

  .input-group.invalid label {
    @apply text-red-400
  }

  .input-group input:focus {
    @apply border-blue-400
  }

  .input-group .invalid-feedback {
    @apply bg-th-bgc-main mx-3 text-xs text-red-400
  }

  .radio-button-group {
    @apply active:bg-grey-600 active:bg-opacity-20 rounded
  }

  .radio-button-group label {
    @apply flex items-center block p-3
  }

  .radio-button-group:active label::before {
    @apply scale-110
  }

  .radio-button-group label::before {
    content: "";
    @apply w-4 h-4 inline-block mr-3 rounded-full ring-2 ring-white border-2 border-th-bgc-main
  }

  .radio-button-group input[type="radio"]:checked + label::before {
    --tw-ring-color: var(--green-3);
    background-color: var(--green-3);
    border-color: var(--bgc-main);
  }
}

:root {
  --bgc-main: #060B15;
  --text-primary: white;
  --green-1: #5D9A0F;
  --green-2: #29771C;
  --green-3: #8bca3b;

  --bgc-insulin-header: #3857C4;
  --bgc-home-header: #29771c;
}

[x-cloak] {
  display: none;
}

iframe {
  height: 0;
}


html {
  font-size: 18px;
}

@media (min-width: 700px) {
  html {
    font-size: 14px
  }
}
