/* This file is for your main application css. */
@import "../node_modules/nprogress/nprogress.css";
@import "../node_modules/flatpickr/dist/themes/dark.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
  }

  /* firefox */
  input[type=color]::-moz-focus-inner {
    border: none;
    padding: 0;
    border-radius: 50%;
  }

  input[type=color]::-moz-color-swatch {
    border: none;
    border-radius: 50%;
  }
}

:root {
  --bgc-main: #060B15;
  --text-primary: white;
  --green-1: #5D9A0F;
  --green-2: #29771C;
  --green-3: #8bca3b;
  --grey-1: #1a202b;
  --grey-2: #141a25;

  --bgc-insulin-header: #3857C4;
  --bgc-home-header: #29771c;
}

[x-cloak] {
  display: none;
}

iframe {
  height: 0;
}

html {
  font-size: 18px;
}

@media (min-width: 700px) {
  html {
    font-size: 16px
  }
}
