/* This file is for your main application css. */
@import "../node_modules/nprogress/nprogress.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply font-semibold rounded-full p-2 inline-block text-center
  }

  .input {
    @apply text-black p-3 rounded
  }

  .checkbox-group {
    @apply block my-4 w-full pl-2
  }

  .input-group {
    @apply block my-4 w-full
  }
}

:root {
  --bgc-main: #0D1A26;
  --text-primary: white;
  --green-1: #5D9A0F;
  --green-2: #29771C;

  --th-insulin: #3857C4;
}

[x-cloak] {
  display: none;
}

iframe {
  height: 0;
}
