/* This file is for your main application css. */
@import "../node_modules/nprogress/nprogress.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply font-semibold rounded-full p-2 inline-block text-center
  }
}

:root {
  --bgc-main: #0D1A26;
  --text-primary: white;
  --green-1: #5D9A0F;
  --green-2: #29771C;
}

iframe {
  height: 0;
}
