<header class="bg-th-<%= @page %> h-9 flex">
  <div class="flex-1">
  </div>
  <div class="flex-none flex items-center justify-center">
    <h1 class="font-semibold text-lg"><%= @title %></h1>
  </div>
  <div class="flex-1">
  </div>
</header>
