<div class="container max-w-screen-md mx-auto">
  <.card>
    <%= for {date, records} <- @records do %>
      <%= if date != @today do %>
        <.day_divider date={date} today={@today} />
      <% end %>
      <div class="">
        <%= for record <- records do %>
          <.show_insulin record={record} />
        <% end %>
      </div>
    <% end %>
  </.card>
</div>
