<div class="stack fixed bottom-5 left-1/2 transform w-4/5 -translate-x-1/2">
  <%= for {id, message} <- @toasts do %>
    <div id={"toast-#{id}"} class="bg-base-100 shadow-md card card-compact" phx-click="close" phx-value-target={id}>
      <div class="card-body">
        <%= message %>
      </div>
    </div>
  <% end %>
</div>
